body {
  width: 100%;
  background: url("space-background.jpeg") no-repeat center fixed;
  background-size: cover;
  text-align: center;
}

.container {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 400px;
}

.calculator {
  height: 470px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  background-color: purple;
  border-radius: 20px;
  border: 5px solid gold;
  padding: 10px;
}

#display-bar {
  display: block;
  margin: 5px auto 5px auto;
  height: 60px;
  width: 90%;
  grid-column: 1 / -1;
  background-color: purple;
  border: 3px solid gold;
  color: gold;
  font-size: 30px;
  text-align: right;
}

#clear-btn {
  color: red;
}

#back-btn {
  color: green;
}

.calculator div {
  background-color: gold;
  border: 1px solid purple;
  border-radius: 20px;
  padding-top: 25%;
  padding-bottom: 25%;
  color: purple;
  font-size: 25px;
}

.calculator div:hover {
  border: 5px solid red;
}